  .artist-page {

    #header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: $dark-grey;
      height: auto;
      padding: 32px 0;

      .image {
        position: relative;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;

        img {
          width: 300px;
          object-fit: cover;
          aspect-ratio: 1/1;
          box-shadow: 4px 4px 8px #191818;
        }
      }

      h1 {
        text-align: center;
      }

      h2 {
        font-size: 46px;
        margin: 16px;
        text-transform: uppercase;
      }
    }

    #artist {
      justify-content: center;
      padding: 24px 24px;
      background-color: $dark;
      height: 50vh;

      .artist-content {
        display: flex;
        justify-content: center;
        width: 100%;

      }

      .artist-text {
        background-color: $white;
        flex-grow: 4;
        min-height: 30vh;
        padding: 0 48px;

        div {
          background-color: $light-grey;
          padding: 10px;

          .bio {
            margin-bottom: 10px;
          }

          @media screen and (max-width: 768px) {
            flex-direction: column;
            padding: 24px;
          }
        }
      }

      .artist-info {
        margin-bottom: 16px;
        font-size: 18px;
      }

      .event-title {
        background-color: $white;
        margin-top: 16px;
        padding: 24px;
      }
    }
  }